*{
	box-sizing: border-box;
	font-size: 16px;
}

/*------------------------ HEADER ------------------------*/
#nav-logo{
	display: inline-block;
	width: 80px;
	height: 80px;
	border: 2px solid #439A97;
	background-color: #FFFFFF;
	padding-top: 18px;
	border-radius: 90px;
}

.navbar-brand span{
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 700;
	color: #411F15;
}

header{
	background-color: #69AEAC;
	width: 100%;
}

.navbar{
	background-color: #69AEAC !important;
}

.nav-item{
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 400;
}

/*--------------- HEADER END ------------------------*/




/*----------------------- MAIN CONTENT ------------------*/




/* --------- 1-ST BLOCK --------------------*/


/*first image*/
#adv_1{
	background-image: url("/img/content/adv_1.png");
	width: 450px;
	height: 515px;	
	background-repeat: no-repeat;
}

/*second image*/
#adv_2{
	background-image: url("/img/content/adv_2.png");
	width: 450px;
	height: 515px;	
	background-repeat: no-repeat;
}

/*description of goods*/
#discription_1{
	background: rgba(67, 154, 151, 0.24);
	border: 2px solid #439A97;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	width: 324px;
	height: 158px;
	font-family: 'PT Serif';
	font-style: italic;
	font-weight: 400;
	font-size: 34px;
	line-height: 49px;	
	color: #534A39;
	padding-left: 20px; 
}

/*list*/
#slogans{

	list-style-image: url("/img/icons/list_marker.png");

}

#slogans li{
	margin-right: 40px;
}

#slogans li span{
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: #000000;
}

/*button for placing an order*/
#btn_1{
	width: 282px;
	height: 37px;
	background: #F49AB4;
	box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	text-align: center;
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 34px;
	color: #000000;
	border-width: 0;
}

#block_1 h2{
	width: auto;
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 400;
	font-size: 80px;
	line-height: 106px;
	color: #411F15;
}


/* --------- 1-ST BLOCK END ------------------*/





/*------------------------ MAIN CONTENT END ----------------------*/




/*Media-queries*/

@media (max-width: 576px){
	.navbar-brand span{
		font-size: 7vw;
	}
}

@media (min-width: 768px) ){
	.nav-item{
		font-size: 1.3vw;
	}
	.navbar-brand span{
		font-size: 3vw;
	}
	.nav-item{
		font-size: 1.5vw;
	}
	header{
		border-bottom: 2px solid #439A97;
	}
}

@media (min-width: 992px){

	.navbar-brand span{
		font-size: 30px;
	}
	.nav-item{
		font-size: 20px;
	}

	header{
		border-bottom: 2px solid #439A97;
	}

	#block_1{
		height: 692px !important;
	}

	#adv_1{
		bottom: 0;
	}

	#adv_2{
		right: 	0;
	}

	#block_1 h2{
		left: 	55px;
		top: 	36px;
		font-size: 	60px;
	}

	#discription_1{
		left: 	35%;
		top: 	328px;
	}

	#slogans{
		bottom: 48px;
		right: 19%;
		width:	auto;
	}

		#slogans li{
		width: auto;
	}


	#btn_1{
		bottom: 0px;
		right: 170px;
	}

	#block_2{
		height: 642px;
		background-color: rgba(67, 154, 151, 0.8);
	}

	#adv_text_1{
		vertical-align: center;
	}

	#adv_text_1 h2{
		text-align: center;
		font-family: 'PT Serif';
		font-style: normal;
		font-weight: 700;
		font-size: 46px;
		color: #411F15;
	}

	#adv_text_1 div{
		font-family: 'PT Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 27px;
		color: #411F15;
		text-indent: 50px;
	}

	#adv_3{
		background-image: url("/img/content/adv_3.png");
		background-repeat: no-repeat;
	}

	#block_3{
		height: 766px;
		margin-top: 40px;
	}

	#adv_4_background{
		width: 500px;
		height: 737px;
		background: rgba(67, 154, 151, 0.8);
		top: 0;
		right: 0;
	}

	#adv_4{
		width: 496px;
		height: 724px;
		background-image: url("/img/content/adv_4.png");
		background-repeat: no-repeat;
		bottom: 0;
		right: 48px;
	}

	#adv_5_background{
		width: 320px;
		height: 320px;
		border-radius: 100%;
		background: rgba(67, 154, 151, 0.5);
		left: 5%;
		bottom: 5%;
	}

	#adv_5{
		background-image: url("/img/content/adv_5.png");
		background-repeat: no-repeat;
		width: 260px;
		height: 260px;
		right:2.8%;
		bottom: 2.8%;
		border-radius: 100%;
	}

	#block_3 h2{
		font-family: 'PT Serif';
		font-style: normal;
		font-weight: 400;
		font-size: 50px;
		color: #411F15;
		text-align: right;
		left: -60%;
		top: 15%;
		line-height: 2;
	}

	#unicornlab_name{
		padding: 0;
		width: 289px;
		height: 82px;
		background: #FFFFFF;
		border: 4px solid #439A97;
		border-radius: 10px;
		left: 27%;
		bottom: 235px;
		font-family: 'Playfair Display';
		font-style: normal;
		font-weight: 400;
		font-size: 50px;
		color: #439A97;
		text-align: center;
	}

	#block_4{
		height: auto !important;
		width: auto;
		margin-left: 0;
		margin-right: 0;
	}
	#adv_6_background{
		height: 611px;
		width: 100%;
		background: rgba(67, 154, 151, 0.8);
		text-align: center;	
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-left: 0;
		padding-right: 0;
	}

	#adv_6{
		background-image: url("/img/content/adv_6.png");
		background-repeat: no-repeat;
		height: 100%;
		width: 992px;
	}

	#block_4 h2{
		text-align: center;
		font-family: 'PT Serif';
		font-style: normal;
		font-weight: 400;
		font-size: 55px;
		color: #411F15;
	}
	h2.mt-5{
		text-align: center;
		font-family: 'PT Serif';
		font-style: normal;
		font-weight: 400;
		font-size: 52px;
		color: #411F15;
	}

	#b5{
		background-color: rgba(67, 154, 151, 0.8);
	}

	.adv_card{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.adv_card img{
		width: 200px;
		margin-top: 50px;
		border-radius: 5px;
		margin-bottom: 20px;
	}

	.cloth_name{
		font-family: 'PT Serif';
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		text-align: center;
		color: #FFFFFF;
		margin-bottom: 30px;
	}

	.materials{
		font-family: 'PT Serif';
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		color: #411F15;
		height: 60px;
		margin-bottom: 30px;
		text-align: center;
	}

	.btn_2{
		margin-bottom: 30px;
		background: #FFFFFF;
		border: 1px solid #FFFFFF;
		border-radius: 7px;
		width: 185px;
		height: 44px;
		color: rgba(65, 31, 21, 0.65);
		font-family: 'PT Serif';
		font-style: normal;
		font-weight: 700;
		font-size: 28px;
	}

	#rev_header{
		font-family: 'PT Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 50px;
		line-height: 65px;
		color: #411F15;
		text-align: center;
	}

	.rev_lg{
		height: 642px;
		background-color: #439A97;
		border-radius: 10px;
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom:42px; 

	}

	.rev_sm{

		border: 5px solid;
		border-color: #439A97;
		border-radius: 10px;
		width: 300px;
		height: 300px;
		margin-bottom:42px; 
		margin-right: auto;
	}

	#rev_1{
		background-image: url("/img/content/rev_1.jpg");
		background-repeat: no-repeat;
		width: 309px;
		height: 518px;
		margin-right: auto;
		margin-left: auto;
	}

	#rev_2{
		background-image: url("/img/content/rev_2.jpg");
		background-repeat: no-repeat;

	}
	#rev_3{
		background-image: url("/img/content/rev_3.jpg");
		background-repeat: no-repeat;

	}
	#rev_4{
		background-image: url("/img/content/rev_4.jpg");
		background-repeat: no-repeat;

	}
	#rev_5{
		background-image: url("/img/content/rev_5.jpg");
		background-repeat: no-repeat;

	}

}



@media (min-width: 1200px){

	.adv_card img{
		width: 250px;
	}
	.navbar-brand span{
		font-size: 40px;
	}
	.nav-item{
		font-size: 22px;
	}

	#block_1 h2{
		font-size: 	80px;
	}

	#slogans{
		display: inline-flex;
		right: 1%;
		top: 572px;
	}

	#adv_text_1 div{
		font-size: 28px;
	}

	#block_3 h2{
		left: -55%;
		top: 15%;
		font-size: 60px;
	}

	#unicornlab_name{
		left: 35%;
		bottom: 20%;
	}

	.rev_lg{
		margin-right: 56px;
	}

}


@media (min-width: 	1400px){

	.navbar-brand span{
		font-size: 40px;
	}

	#discription_1{
		left: 	37.5%;
	}
}


/* ----------------------- FONTS --------------------------*/



